hey I'm a view

<br>
<% 3 * 3 %>
<%= "do ruby here and print it out"  %>

<% @fruits.each do |fruit| %>
  <p>name:<%= fruit.name %></p>
  <p>color:<%= fruit.color %></p>
  <p>season:<%= fruit.season %></p>
  <p>taste:<%= fruit.taste %></p>
  <hr>
<% end %>
