I'm the show

<br>
<p>name: <%= @fruit.name %></p>
<p>season: <%= @fruit.season %></p>
<p>color: <%= @fruit.color %></p>
<p>taste: <%= @fruit.taste %></p>

<br>
<%= form_tag "/fruits/#{@fruit.id}", method: :delete do %>
  <button>Delete me</button>
<% end %>

<%= button_to "delete this", "/fruits/#{@fruit.id}", method: :delete %>
